
<nav class="navbar navbar-expand-md navbar-dark bg-dark shadow fixed-top sticky-top p-0">
    <!--a class="navbar-brand" href="/index">Дипломный магазинчик</a>
    <img src="" alt="`Лого" width="42" height="42"-->
    <button class="navbar-toggler" type="button" data-toggle="collapse"
            data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault"
            aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse my-1" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            {% if active_page == "main" %}
            <li class="nav-item active">
                {% else %}
            <li class="nav-item px-1">
                {% endif %}
                <a class="nav-link btn btn-outline-primary btn-sm text-white" role="button" href="/index">Главная</a>
            </li>

            {% if active_page == "gadgets" %}
            <li class="nav-item dropdown active px-1">
                {% else %}
            <li class="nav-item dropdown px-1">
                {% endif %}
                <a class="nav-link dropdown-toggle btn btn-outline-secondary btn-sm my-sm-0 text-white" role="button" href="#" id="dropdown01"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Отделы</a>
                <div class="dropdown-menu" aria-labelledby="dropdown01">
                    {% for menu_item in departments_menu %}
                    <a class="dropdown-item" href="{{menu_item.get_absolute_url}}">{{ menu_item.title }}</a>
                    {%endfor%}
                </div>
            </li>

            <li class="text-nowrap px-1">
                <a class="nav-link btn btn-outline-secondary btn-sm my-sm-0 text-white" role="button" href="{% url 'customers' %}">Клиенты</a>
            </li>

            <li class="text-nowrap px-1">
                <a class="nav-link btn btn-outline-secondary btn-sm my-sm-0 text-white" role="button" href="{% url 'requests' %}">Запросы</a>
            </li>

            <li class="text-nowrap px-1">
                <a class="nav-link btn btn-outline-secondary btn-sm my-sm-0 text-white" role="button" href="{% url 'offers' %}">Передложения</a>
            </li>
        </ul>

        <ul class="navbar-nav">
            {% if user.get_username == "" %}
            <li class="text-nowrap px-1">
                <a class="nav-link btn btn-outline-success my-sm-0 text-white" role="button"
                   href="/account/login">Войти</a>
                {% else %}
            <li class="text-nowrap px-1">
                <a class="nav-link btn btn-primary my-sm-0 text-white" >{{ user.get_username }}</a>
                {% endif %}
            </li>
            <li class="text-nowrap px-1">
                <a class="nav-link btn btn-outline-success btn-sm my-sm-0 text-white" role="button"
                   href="#">Выйти</a>
            </li>
        </ul>
    </div>
</nav>