{% extends 'base.html' %}

{% block sidebar %}
    {% include './inc/_sidebar.html' with department=department %}
{% endblock %}

{% block content %}
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">

        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2">Клиенты</h1>
        </div>
        <div>
          {% for customer in customers %}
          <a class="dropdown-item" href="{{ customer.get_absolute_url }}">{{ customer.name }}</a>
          {%endfor%}
        </div>

    </main>
{% endblock %}