{% extends 'base.html' %}

{% block sidebar %}
    {% include './inc/_sidebar.html' with department=department %}
{% endblock %}

{% block content %}
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2">{{ department.title }}</h1>
        </div>

        <h2>Сотрудники</h2>

        <div class="table-responsive">
            <table class="table table-striped table-sm">
                <thead>
                <tr>
                    <th>№</th>
                    <th>Имя</th>
                    <th>Должность</th>
                    <th>Ключевые навыки</th>
                    <th>Активные проекты</th>
                </tr>
                </thead>
                <tbody>
                {% for person in persons %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td><a href="#">{{ person.name }}</a></td>
                    <td>{{ person.position }}</td>
                    <td>{{ person.skill }}</td>
                    <td></td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

        {% comment %}{% endcomment %}

    </main>
{% endblock %}