<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
    <div class="sidebar-sticky pt-3">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link active" href="#">Предложение</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Обьекты</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Проект</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">ПНР</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Исполнители</a>
            </li>
        </ul>
    </div>
</nav>